<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ice neko</title>
    
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="">ICE NEKO</a></div>
                <div class="menu">
                    <ul>
                       
                        <li><a href="\menu">menu</a></li>
                    </ul>

                </div>

            

        </div>
    </nav>
    <div class="wrapper">
      <section id="home">
    </div>

   <div class="kolom">
    <p class="deskripsi">menyediakan aneka macam es cream</p>
    <p class="deskripsi">dapatkan diskon setiap harinya </p>
    <h2>bersama ice neko</h2>
    </div>
    
</body>
</html>