<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ice neko</title>
</head>
<h2>daftar menu</h2>
<body>
    <a href="\iceneko" class="link">Beranda</a>
    <table border="1" cellspacing="0" cellpadding="7px">
    <tr>
        <td>no</td>
        <td>nama</td>
        <td>harga</td>
        </tr>
    <tr>
        <td>1</td>
        <td>moca ice</td>
        <td>11k</td>
    </tr>
    <tr>
        <td>2</td>
        <td>moca ice special neko</td>
        <td>15k</td>
    </tr>
    <tr>
        <td>3</td>
        <td>ice caramel</td>
        <td>10k</td>
    </tr>
    </table>
    
</body>
</html>