{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kedai Eskrim - Menu</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Kedai Eskrim</h1>
        <nav>
            <ul>
                <li><a href="/iceneko">Beranda</a></li>
                <li><a href="/menu">Menu</a></li>
            </ul>
        </nav>
    </header>

    <section class="menu">
        <h2>Menu Kami</h2>
        <div class="menu-item">
            <img src="{% static 'images/ice_cream1.jpg' %}" alt="Es Krim 1">
            <h3>Es Krim Vanilla</h3>
            <p>Rasa vanilla yang lezat</p>
            <p class="price">Rp 20,000</p>
        </div>
        
        <div class="menu-item">
            <img src="{% static 'images/ice_cream2.jpg' %}" alt="Es Krim 2">
            <h3>Es Krim Coklat</h3>
            <p>Rasa coklat yang menggoda</p>
            <p class="price">Rp 25,000</p>
        </div>
        
        

    </section>

    <footer>
        <p>&copy; 2023 Kedai Eskrim. Hak Cipta Dilindungi.</p>
    </footer>
</body>
</html>
